h1 {
    font-family: 'Rampart One', cursive;

}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

ol, ul {
    font-family: 'Montserrat', sans-serif;
}